{% extends "base.html" %}

{% block title %}{{title}}{% end %}

{% block styles %}
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link href="{{ static_url("styles.css") }}" rel="stylesheet">
{% end %}

{% block scripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

    <script type="application/javascript">
        $(document).ready(function() {
            var t = $('#tables_data').DataTable( {
                {#"processing": true,#}
                "serverSide": true,
                "ajax": "",
                {#columns: [#}
                {#     { data: 'idx' },#}
                {#    {% for col in cols %}#}
                {#        { data: '{{ col }}' },#}
                {#    {% end %}#}
                {#]#}
            } );

        } );
    </script>
{% end %}

{% block content %}
{% autoescape None %}

<div class="row">

    <table id="tables_data" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
            {% for col in cols %}
            <th scope="col" class="th-sm">{{col}}</th>
            {% end %}
        </tr>
      </thead>
      <tbody>
{#        {% for item in items %}#}
{#            <tr>#}
{##}
{#                {% for col in cols %}#}
{#                  <td>{{getattr(item, col)}}</td>#}
{#                {% end %}#}
{#            </tr>#}
{#        {% end %}#}
      </tbody>
    </table>

</div>


{% end %}