<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{{title}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    {% for link in links %}
     <a href="{{ link }}">{{ link }}</a><br />
    {% end %}
  </body>

    <script type="text/javascript" charset="utf-8">
        (function() {
            var sm = document.createElement("script");
            sm.type = "text/javascript";
            sm.async = true;
            sm.defer = true;
            sm.src = "//analytics.ru/static/analytics.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(sm, s);
        })();
    </script>
</html>